<div class="question-data" *ngIf="question">
    <div class="question-header">
        <h2 class="question-title" *ngIf="!showDetails"><a (click)="goToDetails(question.question_id)">{{ question.title }}</a></h2>
        <h2 class="question-title" *ngIf="showDetails">{{ question.title }}</h2>
        <div class="question-bookmarks" *ngIf="bookmarks">
            <button *ngIf="!checkBookmarked(question.question_id, bookmarks)" class="add" (click)="addToBookmarks(question)"><fa-icon [icon]="faBookmarkRegular"></fa-icon></button>
            <button *ngIf="checkBookmarked(question.question_id, bookmarks)" class="remove" (click)="removeFromBookmarks(question)"><fa-icon [icon]="faBookmarkSolid"></fa-icon></button>
        </div>
    </div>
    <div class="question-info">
        <span class="score">Score: {{ question.score }}</span>
        <span class="create-date">Date of creation: {{ question.creation_date * 1000 | date }}</span>
        <span *ngIf="question.last_edit_date" class="update-date">Update date: {{ question.last_edit_date }}</span>
        <span class="answers">Answers: {{ question.answer_count }}</span>
    </div>
    <div class="owner-info">
        <img class="owner-profile-image" src="{{question.owner_profile_image}}" />
        <p class="owner-name">{{ question.owner_name }}</p>
    </div>
    <div class="tags">
        <span class="tag" *ngFor="let tag of question.tags"> {{tag}}</span>
    </div>
    <div *ngIf="showDetails && question.body">
        <div class="question-body" [innerHtml]="question.body | safe">

        </div>
    </div>
</div>