.question-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.question-data {
    padding: 10px;
    border: 1px solid palevioletred;
    margin: 10px 10px 10px 10px;
}

.question-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    word-break: break-word;
    font-size: 20px;
    margin: 0px;
    color: palevioletred;
}

.tag {
    display: inline-block;
    background: pink;
    border: 1px solid palevioletred;
    margin: 2px 2px 0 0;
    padding: 2px 5px 2px 5px;
    border-radius: 6px;
}

.owner-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    .owner-profile-image {
        max-width: 30px;
        max-height: 30px;
        
    }
    .owner-name {
        padding-left: 10px;
        margin: 0;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.question-bookmarks {
    .add, .remove {
        width: 35px;
        height: 35px;
        background-color: pink;
        color:palevioletred;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 50%;
        font-size: 20px;
    }
}

.question-info {
    padding-top: 10px;
    span {
        display: block;
    }
}

.question-body {
    border-top: 2px solid gray;
    margin-top: 10px;
    word-break: break-word;
}